$fontFamylyFirst: Raleway, Arial, sans-serif;
$fontFamylySecond: Roboto, Arial, sans-serif;
$widthContainer: 1170px;
$colorHeader-bg: #abeafa;
$colorMain-bg: #f8f8f8;
$colorFooter-bg: #373737;
$colorIcon: #fff;